<form [formGroup]="videoForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>ビデオを追加</h1>
  <div mat-dialog-content style="width: 400px">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>タイトル</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
    </div>
    <div>
      <input
        type="file"
        accept="video/*"
        (change)="onFileSelected($event)"
        #fileUpload
      />
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="dialogRef.close()">
      キャンセル
    </button>
    <button mat-button color="primary" type="submit">追加</button>
  </div>
</form>
