<mat-card *ngFor="let course of courses">
  <mat-card-title>{{ course.title }}</mat-card-title>
  <img mat-card-image [src]="course.picture" />
  <mat-card-content>
    {{ course.desc }}
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      *ngIf="
        (!currentAccount || currentAccount?.role === 'STUDENT') &&
        !isOwnCourse(course.id)
      "
      (click)="placeOrder(course)"
    >
      購入
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      *ngIf="
        isOwnCourse(course.id) ||
        (currentAccount && currentAccount?.role !== 'STUDENT')
      "
      [routerLink]="['/course', course.id]"
    >
      始める
    </button>
  </mat-card-actions>
</mat-card>
