:host {
  background-color: #f7f7f9;
  padding: 100px;
  display: block;
}
mat-card {
  width: 400px;
  margin: 0 auto;
  padding: 24px;
}
mat-card-title {
  margin-bottom: 24px;
}
mat-card-actions {
  text-align: right;
  margin-bottom: 0;
}
mat-form-field {
  width: 100%;
}